.center-page{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background:rgb(148, 26, 26);
}

.login{
    background:white;
    padding:30px;
    width:300px;
    border-radius: 5px;
}

.login h2{
    text-align: center;
    margin-top:4px;
    color:black;
}

.loginform{
    display:flex;
    flex-direction: column;
    gap: 17px;
}

.loginform input{
    padding:10px;
    border:1.5px solid;
    border-radius: 4px;
}

.loginform button{
    width:80px;
    align-self:center;
    margin-top: 14px;
    background-color: rgb(227, 131, 131);
    color:white;
    border:0.5 solid;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.loginform button:hover{
    background:rgb(148, 26, 26);
}

.error {
  color: red;
  font-size: 14px;
  text-align: center;
}

.otp{
     background:white;
    padding:30px;
    width:300px;
    border-radius: 5px;
}

.otp h2{
    text-align: center;
    margin-top:3px;
    color:black;
}

.otpform{
    display:flex;
    flex-direction: column;
}

.otpform input{
    padding:10px;
    margin-top: 9px;
    border:1.5px solid;
    border-radius: 4px;
}

.otpform button{
    width: 100px;
    align-self: center;
    margin-top: 30px;
    background-color: rgb(227, 131, 131);
    color:white;
    border:0.5 solid;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.otpform button:hover{
    background:rgb(148, 26, 26);
}

.dashboard{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    background:rgb(148, 26, 26) ;
}

.nav-left h2{
    margin-top: 1px;
    margin-bottom:2px;
    font-size:30px;
    font-weight:400;
}

.dashboard-navbar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding:20px 20px;
    height:30px;
    background-color:rgb(159, 66, 66);
    color:white;
}

.nav-right{
    align-items:center;
    display:block;
    margin-top: 0px;
    cursor: pointer;
}

.nav-right logout-btn {
    padding: 6px 14px;
    background-color: white;
    color: rgb(148, 26, 26);
    border: none;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #eee;
}

.table-section{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-left: 120px;
}

.pagination-arrows{
    display:flex;
    flex-direction: row;
    width:100px;
    justify-content: space-evenly;
    margin-top:15px;
}

.arrow-btn{
    padding:8px 14px;
    font-size:18px;
    border-radius: 6px;
    border:none;
    cursor: pointer;
    background-color: #f28b8b;
    color:white;
}

.arrow-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.6;
}

.district{
    padding:20px;
    color:white;
}

.district-layout{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap:80px;
}

.district h2{
    text-align: center;
    margin-top: 1px;
}

.district-form{
    width:260px;
    height:150px;
    padding:40px;
    border-radius: 8px;
    background-color: white;
    margin-top: 60px;
    display: flex;              
    flex-direction: column;     
    align-items: center;       
    justify-content: flex-start; 
    margin-left:60px;
    border:2px solid;
    border-radius: 4px;
}

.district-form input{
    padding:10px;
    width:80%;
    margin-top:-25px;
    text-align: center;
    border:1px solid;
    border-radius: 2px;
}

.district-form .button-row{
    display: flex;
    justify-content: space-between;
    width:100%;
    margin-top:20px;
}

.district-form button{
    padding:9px;
    margin:10px;
    border:1px solid;
    border-radius: 2px;
    background-color: rgb(227, 131, 131);
    color:white;
    cursor: pointer;
    width:140px;
    align-self:center;
}

.district-form button:hover{
    background:rgb(148, 26, 26);
}

.district-table{
    color:black;
    text-align: center;
    background-color: white;
    border:1px solid;
    border-radius: 2px;
    padding:30px;
    width:400px;
    margin-top:7px;
    margin-right:40px;
}

.district-table th{
    background-color: rgb(148, 26, 26);
    color: white;
    padding: 10px;
}

.district-table tr:hover{
    background-color: #f3dcdc;
}

.district-table button{
    margin: 2px;
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
    background-color: rgb(227, 131, 131);
    color: white;
    cursor: pointer;
}

.district-table button:hover{
    background: rgb(148, 26, 26);
}

.route{
    padding:20px;
    color:white;
}

.route-layout{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap:80px;
}

.route h2{
    text-align: center;
    margin-top: 1px;
}

.route-form{
    width:300px;
    padding:40px;
    border-radius: 8px;
    background-color: white;
    margin-top: 60px;
    display: flex;              
    flex-direction: column;     
    align-items: center;       
    justify-content: flex-start; 
    margin-left:60px;
    border:2px solid;
    border-radius: 4px;
}

.select-row{
    display: flex;
  gap: 15px;
  width: 100%;
}

.select-row select {
  flex: 1;                
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #999;
  margin-top: -20px;
}

.route-form .button-row{
    display: flex;
    justify-content: space-between;
    width:100%;
    margin-top:20px;
}

.route-form button{
    padding:9px;
    margin:10px;
    border:1px solid;
    border-radius: 2px;
    background-color: rgb(227, 131, 131);
    color:white;
    cursor: pointer;
    width:140px;
    align-self:center;
}

.route-form button:hover{
    background:rgb(148, 26, 26);
}

.route-table{
    color:black;
    text-align: center;
    background-color: white;
    border:1px solid;
    border-radius: 2px;
    padding:30px;
    width:450px;
    margin-top:7px;
    margin-right:40px;
}

.route-table th{
    background-color: rgb(148, 26, 26);
    color: white;
    padding: 10px;
}

.route-table tr:hover{
    background-color: #f3dcdc;
}

.route-table button{
    margin: 2px;
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
    background-color: rgb(227, 131, 131);
    color: white;
    cursor: pointer;
}

.route button:hover{
    background: rgb(148, 26, 26);
}

.bus{
    padding:20px;
    color:white;
}

.bus h2{
    text-align: center;
    margin-top: -20px;
}

.bus-layout{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    gap:80px;
}

.bus-form{
    width:300px;
    padding:40px;
    border-radius: 8px;
    background-color: white;
    margin-top: 20px;
    display: flex;              
    flex-direction: column;     
    align-items: center;       
    justify-content: flex-start; 
    margin-left:60px;
    border:2px solid;
    border-radius: 4px;
    margin-top: 70px;
}

.i{
    display: flex;
    flex-direction: column;
    gap:12px;
    margin-top: -55px;
}

.i input{
   border:1px solid;
   border-radius: 2px;
   padding:5px;
}

.i select{
   border:1px solid;
   border-radius: 2px;
   padding:5px;
}

.button-row{
    display: flex;
    justify-content: space-evenly;
    width:100%;
    margin-top:20px;
}

.button-row button{
    border-radius: 2px;
    border: none;
    background-color: rgb(227, 131, 131);
    color: white;
    cursor: pointer;
    padding:9px;
}

.bus button:hover{
    background: rgb(148, 26, 26);
}

.bus-table{
    color:black;
    text-align: center;
    background-color: white;
    border:1px solid;
    border-radius: 2px;
    padding:1px;
    width:450px;
    margin-top:-10px;
    margin-right:20px;
}

.bus-table th{
    background-color: rgb(148, 26, 26);
    color: white;
    padding: 10px;
}

.bus-table tr:hover{
    background-color: #f3dcdc;
}

.bus-table button{
    margin: 1px;
    padding: 5px 10px;
    border-radius: 2px;
    border: none;
    background-color: rgb(227, 131, 131);
    color: white;
    cursor: pointer;
}

.booking{
    padding:20px;
    color:white;
}

.booking h2{
    text-align: center;
}

.booking-table th{
    background-color: rgb(148, 26, 26);
    color: white;
    padding: 10px;
}

.booking-table{
    background-color: white;
    color:black;
    border:1px solid;
    border-radius: 2px;
    padding:10px;
    width:100%;
    text-align: center;
}

.booking button{
    display:inline;
    margin:0 16px;
    border-radius: 2px;
    border: none;
    background-color: rgb(227, 131, 131);
    color: white;
    cursor: pointer;
    padding:10px;
}

.booking button:hover{
    background: rgb(148, 26, 26);
}

.booking-table tr:hover{
    background-color: #f3dcdc;
}











